$black: #373737;
$main_bg_color:#212745;
$white: #ffffff;
$blue_text:#3DDDE8;
$green:#4DB275;
$green_01:#60E394;
$blue: #2d9cdb;
$blue_01:#499DBE;
$blue_02:#229DBB;
$blue_03: #499DBE;
$blue_04: #015BBB;
$red:#FA2B2B;
$yellow:#FFD01F;
$yellow_01:#FED500 ;
$green_01:#4DB375;
$grey_01:#667998;
$grey_02:#5D6E8D;

$main_purple:#673ab7;
